# Rust & Cargo build outputs
target/
**/target/
**/*.rs.bk

# Tauri desktop build outputs
src-tauri/target/

# Node & Package Managers
node_modules/
.pnpm-store/
.npm/

# Web frontend build outputs
dist/
out/
.svelte-kit/
.next/

# Android build outputs & IDEs
.gradle/
build/
**/build/
.kotlin/
*.apk
*.aab

# Binary logs & memory dumps
*.hprof
java_pid*
*.log
*.so
*.dylib
*.dll

# OS & Editor metadata
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
release/
